body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.horizontal-nav {
  width: 5rem;
  background-color: #01134e;
  height: 100vh;
  &__logo {
    height: 3.808rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.625rem;
  }

  &__section {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;

    svg {
      path {
        transition: 0.4s all ease;
        fill: #8089a6;
      }
    }

    &:hover {
      color: white;
      svg {
        path {
          fill: #fff;
        }
      }

      .horizontal-nav__section--ribbon {
        transform: scale(1);
        transform-origin: center;
      }
    }

    &--badge {
      position: absolute;
      top: 10%;
      right: 30%;
      width: 1.1875rem;
      height: 1.1875rem;
      border-radius: 50%;
      color: #fff;
      background-color: #2a74db;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75rem;
      font-weight: bold;
    }

    &--ribbon {
      position: absolute;
      left: 0;
      top: 0;
      width: 0.25rem;
      height: 100%;
      background: #0ad69c;
      transition: 0.4s all ease;
      transform: scale(0);
      transform-origin: center;
    }
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9fafc;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: #fff;

    &__links {
      height: 3.75rem;
      display: flex;
      align-items: center;

      a {
        padding: 0 0.5rem;
        text-decoration: none;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.685714px;
        color: #252f48;

        svg {
          margin-left: 0.7rem;
        }
      }
    }

    &__account {
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 1.375rem;
        height: 1.375rem;
        padding: 0 0.5rem;
        border-radius: 50%;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.28px;
      }

      svg {
        padding: 0 0.5rem;
      }
    }
  }

  .chat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-main {
      width: 80%;
      margin-top: 1.7rem;
      box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
      border-radius: 4px;
    }

    &-users {
      width: 30%;
      &__user {
        height: 5.6875rem;
        display: flex;
        align-items: center;
        background: #f7f9fc;

        img {
          width: 3.125rem;
          height: 3.125rem;
          border-radius: 50%;
          padding: 0 14px;
        }
      }

      &__content {
      }

      &__name {
        font-family: Exo 2;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.571429px;

        color: #01134e;
      }

      &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #252f48;
        mix-blend-mode: normal;
        opacity: 0.43;
      }
    }

    &-field {
      background-color: #fff;
    }
  }
}
